<!DOCTYPE html>
<html>
  <head>
     <title>date</title>
     <meta charset="UTF-8">
  </head>
  <body>
      <a href="/">일일</a>
      <a href="/calendar">달력</a>
      <a href="/monthly">월별</a>
      <a href="/memo">메모</a>
      <table>
        <tr>
            <th>수입</th>
            <td>{{ amount }}원</td>
        </tr>
        <tr>
            <th>지출</th>
            <td>{{ amount }}원</td>
        </tr>
        <tr>
            <th>합계</th>
            <td>{{ amount }}원</td>
        </tr>
      </table>

        <a href="/household">가계부</a>
        <a href="/stats">통계</a>
        <a href="/settings">설정</a>
    </body>
</html>