<!DOCTYPE html>
<html>
  <head>
     <title>date</title>
     <meta charset="UTF-8">
  </head>
  <body>
      <a href="/">일일</a>
      <a href="/calendar">달력</a>
      <a href="/monthly">월별</a>
      <a href="/memo">메모</a>
      <table>
        <tr>
            <th>수입</th>
            <td>{{ income }}원</td>
        </tr>
        <tr>
            <th>지출</th>
            <td>{{ expense }}원</td>
        </tr>
        <tr>
            <th>합계</th>
            <td>{{ total }}원</td>
        </tr>
      </table>

      <table>
        {% for record in records %}
        <tr>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}원</td>
            <td>
                <a href="/edit/{{ record[0] }}">수정</a>
                <form action="/delete/{{ record[0] }}" method="POST">
                    <button type="submit">삭제</button>
            </form>
            </td>
        </tr>
        {%  endfor %}
      </table>

      <form action="/add" method="POST">
        <select name="type">
            <option value="income">수입</option>
            <option value="expense">지출</option>
        </select>
        <input type="text" name="memo" placeholder="내역 입력">
        <input type="number" name="amount" placeholder="금액 입력">
        <button type="submit">저장</button>
   </form>

        <a href="/">가계부</a>
        <a href="/stats">통계</a>
        <a href="/settings">설정</a>
    </body>
</html>